{% extends "base.html" %}
{% block title %}Error: {{ msg }}{% endblock %}
{% block sortstyle %}{% endblock %}
{% block content %}
<div id="error">
	<h1>{{ msg }}</h1>
	<h3><a href="https://www.redditstatus.com/">Reddit Status</a></h3>
	<br />
	<h3 id="update-status"></h3>
	<br />
	<h3 id="update-status"><a id="random-instance"></a></h3>
	<br>
	<div id="git_commit" data-value="{{ crate::instance_info::INSTANCE_INFO.git_commit }}"></div>
	<script src="/check_update.js"></script>
	
	<h3>Expected something to work? <a
			href="https://github.com/redlib-org/redlib/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=%F0%9F%90%9B+Bug+Report%3A+{{ msg }}">Report
			an issue</a></h3>
	<br />
	<p id="error-446">If you're getting a "Failed to parse page JSON data" error, please check <a href="https://github.com/redlib-org/redlib/issues/446" target="_blank">#446</a></p>
	<br />
	<h3>Head back <a href="/">home</a>?</h3>
</div>
{% endblock %}
